# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson
"atom-text-editor[data-grammar='source ts']":
  'ctrl-]': 'typescript:go-to-declaration'
  'ctrl-o': 'typescript:return-from-declaration'
  'ctrl-alt-b': 'typescript:format-code'

"atom-text-editor[data-grammar='source js']":
  'f12': 'atom-ternjs:documentation'

# "atom-text-editor[data-grammar='source ruby']":
#   'f12': 'atom-ctags:go-to-declaration'
#   'f10': 'atom-ctags:return-from-declaration'

'atom-text-editor':
  'f8': 'symbols-tree-view:toggle'
  # restore ctrl-b which was overwritten by vim mode package
  'ctrl-b': 'git-blame:toggle'
  # VIM like mappings
  'ctrl-]': 'atom-ctags:go-to-declaration'
  'ctrl-o': 'atom-ctags:return-from-declaration'
  # 'alt-right': 'editor:move-to-next-word-boundary'
  # 'alt-right': 'editor:move-to-beginning-of-next-word'
  # 'alt-left': 'editor:move-to-beginning-of-next-word'
  'alt-up': 'editor:move-to-beginning-of-previous-paragraph'
  'alt-down': 'editor:move-to-beginning-of-next-paragraph'
  'cmd-%': 'bracket-matcher:go-to-matching-bracket'
  'cmd-*': 'find-and-replace:find-next-selected'
  'cmd-d cmd-d': 'editor:delete-line'
  'cmd-d cmd-w': 'editor:delete-to-next-word-boundary'
  # 'cmd-d cmd-w': 'editor:delete-to-end-of-word'
  'cmd-> cmd->': 'editor:indent-selected-rows'
  'cmd-< cmd-<': 'editor:outdent-selected-rows'
  'cmd-0': 'editor:move-to-beginning-of-line'
